body {
    min-height: 100%;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .cabecalho {
    width: 100%;
   
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  .cabecalho a {
    padding: 10px 20px;
    display: flex;
    height: 460px;
  }
  
  .titulo {
    font-size: 0rem;
    background-color: transparent;
    display: flex;
    padding: 0 4rem;
    border: hidden;
  
    word-spacing: 10px;
  
    text-decoration-line: overline underline;
    color: #a89385;
    transition: 0.9s ease-in-out;
    font-family: "got", "Times New Roman", Times, serif;
  }
  .titulo h1 {
    box-shadow: 5px 25px 25px rgb(10, 10, 10);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.548);
    background-color:black;
    font-size: 2rem;
    margin: 0 3rem;
  }
  
  .main-container {
   
    background-size: cover;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    box-sizing: inherit;
    background: #1b2838;
  }
  .content {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    width: 65%;
    border-radius: 20px;
    overflow: hidden;
  
    box-sizing: inherit;
  }
  .grafico {
    margin: 0 3em;
  }
  .slide .conteudoGrafico {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  .navigation {
    bottom: 10px;
    left: 55%;
    display: flex;
    align-items: flex-end;
  }
  
  .bar {
    width: 70px;
    height: 17px;
    border: 2px solid #8e5b2c;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .bar:hover {
    background-color:black;
  }
  
  input {
    display: none;
  }
  
  .slides {
    display: flex;
    width: 1100%;
    height: 100%;
  }
  
  .slide {
    width: 10%;
    transition: 0.6s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide .conteudoTextual {
    margin-bottom: 0.6rem;
    width: 75%;
    text-align: center;
  }
  h2 {
    font-family: "got", Times, serif;
  }
  .conteudoTextual {
    font-family: "Times New Roman", Times, serif;
    color: #8e5b2c;
  }
  
  #slide1:checked ~ .s1 {
    margin-left: 0;
  }
  
  #slide2:checked ~ .s1 {
    margin-left: -10%;
  }
  
  #slide3:checked ~ .s1 {
    margin-left: -20%;
  }
  
  #slide4:checked ~ .s1 {
    margin-left: -30%;
  }
  
  #slide5:checked ~ .s1 {
    margin-left: -40%;
  }
  
  #slide6:checked ~ .s1 {
    margin-left: -50%;
  }
  
  #slide7:checked ~ .s1 {
    margin-left: -60%;
  }
  
  #slide8:checked ~ .s1 {
    margin-left: -70%;
  }
  
  #slide9:checked ~ .s1 {
    margin-left: -80%;
  }
  
  #slide10:checked ~ .s1 {
    margin-left: -90%;
  }
  
  .conteudoTextual h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 2px;
    border-bottom: 1rem;
  }
  .conteudoTextual p {
    font-size: 1.2rem;
    color: #fff;
    border-bottom: 1rem;
    margin-top: 20px;
  }
  
  .tooltipBarra {
    background-color: black;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tooltipBarra p {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .tooltipBarra img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
  .tooltipcoluna {
    background-color: black;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tooltipcoluna p {
    color: white;
    padding: 0.3rem;
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .tooltipcoluna img {
    width: 140px;
    height: 140px;
    border-radius: 35px;
  }
  
  .invisivel {
    display: none;
  }