*{
    margin: 0px;
    padding: 0px;
}
/* PARTE SLIDE */
#carouselExampleControls{
    display: flex;
}
/*  */

body {
    font-family: 'Montserrat', sans-serif;
}

.header-menu {
	background: #1b2838;
	padding: 20px 0;
	position: relative;
	width: 100%;
}

h1 img {
    height: 65px;
    margin-top: 10px;
	margin-left: 200px;
}

.menu {
	position: absolute;
	top: 50px;
	right: 170px;
	margin-bottom: 70px;
}

.menu li {
	display: inline;
	margin: 0 0px 0 15px;
}

.menu a {
	text-transform: uppercase;
	color: #c5c3c0;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.menu a:hover {
	color: #323ee6;
	text-decoration: none;
}

footer {
	text-align: center;
	background: #1b2838;
	padding: 20px 0;
    margin-top: 20px;
    color: #c5c3c0;
}

/* abaixo, as regras de css para os cards */
#card-pesquisa {
	background: #2a475e;
	width: 100%;
	height: fit-content;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 90px;
}

.container .card {
    position: relative;
    width: 170px;
    height: 230px;
    margin:  30px ;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(250, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px),
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* PARTE - CONTATOS */
*{
    margin: 0px;
    padding: 0px;
}

#nome{
    color: #000;
    font-family: 'Spline Sans Mono', monospace;
}
#cargo{
    color:#000;
    font-family: 'Motive Sans', sans-serif;
}
#contatos{
    display: flex;
    width: 100%;
    background-color: #3D4450;
}
#informaçõesDosDesenvolvedores{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.tituloContatos{
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    color: #000;
    font-family: 'Passion One', cursive;
}

#blocosDeContato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
#usuarios{
    display: flex;
    flex-direction:column; 
    text-align: center;
    font-size: medium;
}
#paragrafo{
    justify-content: centers;
}
#imagemContato{
    display: flex;
    border-radius: 50%;
    box-shadow: 5px 0px 10px #000;
    max-width:250px;
    min-width: 250px;
    max-height:250px;
    min-height: 250px;
    width: auto;
    height: auto;
}
#links{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}

.bi{
    font-size: 50px;
    align-items: center;
    margin: 10px;
    color: #000;
}



